{# templates/proyecto/pelipdf.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ pelicula.Titulo }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-12 col-sm-12 col-xl-12 detallePeli">
      <h2>Titulo: {{ pelicula.Titulo }}</h2>
      <p><strong>Resumen:</strong> {{ pelicula.Resumen }}</p>
      <p><strong>Director:</strong> {{ pelicula.Director }}</p>
      <p><strong>Actores:</strong> {{ pelicula.Actores }}</p>
      <p><strong>Escritores:</strong> {{ pelicula.Escritores }}</p>
      <p><strong>Edad recomendada:</strong> {{ pelicula.Edad }}</p>
      <p><strong>Duracion:</strong> {{ pelicula.Duracion }}</p>
      <p><strong>Genero:</strong> {{ pelicula.Genero }}</p>
      <p><strong>Fecha de lanzamiento:</strong> {{ pelicula.fechaSalida|date("d/m/Y") }}</p>
      {% if pelicula.valoracions.count() == 0 %}
        <p><strong>Valoracion media:</strong> Esta película aún no ha sido valorada.</p>
      {% else %}
        {% set suma = 0 %}
        {% for valoracion in pelicula.valoracions %}
          {% set numeros = valoracion.valoracion %}
          {% set suma = numeros + suma %}
        {% endfor %}
        {% set media = suma / pelicula.valoracions.count() %}
        <p><strong>Valoracion media:</strong> {{ media|round(1, 'floor') }}/10</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}