{% extends 'base.html.twig' %}

{% block title %}CinemaPlus-ListaSeries{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('inicio') }}">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('peliculas') }}">Peliculas</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('series') }}">Series</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('register') }}">Registrar</a>
        </li>
        {% if app.user != null %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout') }}">Salir</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('login') }}">Login</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid col-12 col-sm-12 col-xl-12 MargenSuper">
    <h2>Buscador de Series</h2>
    <br />
    <h4>Has buscado '{{ search.buscar }}'</h4>
    <br /><br />
    <div class="col-4 col-sm-4 col-xl-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <br /><br />
    {% for serie in series %}
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-4">
                <a href="{{ path('serie', {'id': serie.id}) }}"><img src="{{ asset('images/serie' ~ serie.id ~ '.jpg') }}" class="img-responsive fit-image imagenLista"></a>
            </div>
            <div class="col-12 col-lg-12 col-xl-8">
                <a class="enlacePeli" href="{{ path('serie', {'id': serie.id}) }}"><h3>{{ serie.titulo }}</h3></a>
                <p>{{ serie.actores }}</p>
                <p>{{ serie.resumen }}</p>
                <a class="enlacePeli" href="{{ path('serie', {'id': serie.id}) }}"><p>Leer mas...</p></a>
            </div>
        </div>
        <br /><br />
    {% endfor %}
</div>
{% endblock %}